---
export interface Props {
  image: string
  author: string
  title: string
  description: string
}

const { image, title, author, description } = Astro.props
---

<article class="bg-white overflow-hidden rounded-md">
  <figure class="relative w-full h-56 md:h-48 overflow-hidden">
    <img
      class="object-cover w-full h-full min-h-max"
      src={`./images/image-${image}.jpg`}
      alt={title}
      loading="lazy"
      decoding="async"
    />
  </figure>

  <div class="px-6 py-6">
    <p class="text-[0.6rem]">{author}</p>
    <h4 class="title my-2 text-[1rem] leading-5">{title}</h4>
    <p class="text text-[0.81rem] tracking-tight">
      {description}
    </p>
  </div>
</article>
